.link-login, .link-busca {
    font-weight: bold; /*fonte como negrito */
    text-decoration: none; /* Remove o sublinhado*/
    color: #333;
}

.blog-logo {
    font-size: 24px; /*tamanho da fonte*/
    font-weight: bold; /*fonte como negrito */
}

/* Estilo para os elementos de cabeçalho dos modais */
.modal-header {
    background-color: #021d61;
    color: #fff;
}

/* Estilo para o rodapé dos modais */
.modal-footer {
    background-color: #021d61;
}

.botao-registrar {
    background-color: #007bff;
    color: #ffff;
    border: none; /* Remove a borda*/
}

.botao-registrar:hover {
    background-color: #0056b3;
}

/* Estilo para a barra de navegação (navbar) */
.navbar {
    background-color: #f8f9fa;
}


.navbar-brand {
    font-weight: bold; /* negrito */
    margin-left: 30px; /* margem esquerda */
}

.nav-item {
    margin-right: 30px; /* margem direita */
    margin-left: 30px; /* margem esquerda */
}

/* cabeçalho */
#acessibilidade {
    display: flex; /* para alinhar os itens */
    justify-content: flex-end; /* Alinha os itens à direita do contêiner */
    align-items: center; /* Centraliza verticalmente os itens */
}

#acessibilidade a {
    margin-left: 10px; /* margem à esquerda entre os links */
}

/*telas menores*/
@media (max-width: 768px) {
    /* Altera a direção do flexbox para coluna e alinha os itens à direita */
    #acessibilidade {
        flex-direction: column;
        align-items: flex-end;
    }

    /* Remove a margem à esquerda dos links e adiciona margem superior entre eles */
    #acessibilidade a {
        margin-left: 0;
        margin-top: 10px;
    }
}
