.link-login, .link-busca {
    font-weight: bold;
    text-decoration: none;
    color: #333;
}


.blog-logo {
    font-size: 24px;
    font-weight: bold;
}

/* Estilo para os modais */
.modal-header {
    background-color: #021d61;
    color: #fff;
}

.modal-footer {
    background-color: #021d61;
}

/* Estilo para o botão Registrar */
.botao-registrar {
    background-color: #007bff;
    color: #ffff;
    border: none;
}

.botao-registrar:hover {
    background-color: #0056b3;
}

/* Estilo para a Navbar */
.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 30px;
}

/* Estilo para os links da Navbar */
.nav-item {
    margin-right: 30px;
    margin-left: 30px;
}


#acessibilidade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  #acessibilidade a {
    margin-left: 10px; /* Adicione margem à esquerda dos links */
  }
  
  @media (max-width: 768px) {
    #acessibilidade {
      flex-direction: column;
      align-items: flex-end;
    }
  
    #acessibilidade a {
      margin-left: 0; /* Remova a margem à esquerda dos links */
      margin-top: 10px; /* Adicione margem superior entre os links em telas menores */
    }
  }
  